# 设定系统环境

In [51]:
import pandas as pd
import os
import numpy as np
pd.options.display.max_rows = 10; # 设定自由列表输出最多10行

# 参数设定

In [2]:
# 文件参数
file_dir_input =  "..\\04 data\\PythonData\\PM25\\"
file_dir_output = "..\\04 data\\PythonData\\PM25\\out\\"
file_name_input = 'Beijing_2016_HourlyPM25_created20170201.csv'

# 数据清理

## 数据获取

In [5]:
os.listdir(file_dir_input)

['Beijing_2008_HourlyPM2.5_created20140325.csv',
 'Beijing_2009_HourlyPM25_created20140709.csv',
 'Beijing_2010_HourlyPM25_created20140709.csv',
 'Beijing_2011_HourlyPM25_created20140709.csv',
 'Beijing_2012_HourlyPM2.5_created20140325.csv',
 'Beijing_2013_HourlyPM2.5_created20140325.csv',
 'Beijing_2014_HourlyPM25_created20150203.csv',
 'Beijing_2015_HourlyPM25_created20160201.csv',
 'Beijing_2016_HourlyPM25_created20170201.csv',
 'out']

In [6]:
df = pd.read_csv(file_dir_input + file_name_input)
df

,Site,Parameter,Date (LST),Year,Month,Day,Hour,Value,Unit,Duration,QC Name
0,Beijing,PM2.5,1/1/2016 0:00,2016,1,1,0,231,绀?m?1 Hr,Valid,NaN
1,Beijing,PM2.5,1/1/2016 1:00,2016,1,1,1,239,绀?m?1 Hr,Valid,NaN
2,Beijing,PM2.5,1/1/2016 2:00,2016,1,1,2,205,绀?m?1 Hr,Valid,NaN
3,Beijing,PM2.5,1/1/2016 3:00,2016,1,1,3,167,绀?m?1 Hr,Valid,NaN
4,Beijing,PM2.5,1/1/2016 4:00,2016,1,1,4,132,绀?m?1 Hr,Valid,NaN
...,...,...,...,...,...,...,...,...,...,...,...
8779,Beijing,PM2.5,12/31/2016 19:00,2016,12,31,19,409,绀?m?1 Hr,Valid,NaN
8780,Beijing,PM2.5,12/31/2016 20:00,2016,12,31,20,432,绀?m?1 Hr,Valid,NaN
8781,Beijing,PM2.5,12/31/2016 21:00,2016,12,31,21,482,绀?m?1 Hr,Valid,NaN
8782,Beijing,PM2.5,12/31/2016 22:00,2016,12,31,22,488,绀?m?1 Hr,Valid,NaN
8783,Beijing,PM2.5,12/31/2016 23:00,2016,12,31,23,507,绀?m?1 Hr,Valid,NaN

## 作业1：4.6  实战；对PM数据做简单清理

In [7]:
df2 = df.drop(columns=['Parameter', 'Duration', 'Unit','QC Name'])
df2

         Site        Date (LST)  Year  Month  Day  Hour  Value
0     Beijing     1/1/2016 0:00  2016      1    1     0    231
1     Beijing     1/1/2016 1:00  2016      1    1     1    239
2     Beijing     1/1/2016 2:00  2016      1    1     2    205
3     Beijing     1/1/2016 3:00  2016      1    1     3    167
4     Beijing     1/1/2016 4:00  2016      1    1     4    132
...       ...               ...   ...    ...  ...   ...    ...
8779  Beijing  12/31/2016 19:00  2016     12   31    19    409
8780  Beijing  12/31/2016 20:00  2016     12   31    20    432
8781  Beijing  12/31/2016 21:00  2016     12   31    21    482
8782  Beijing  12/31/2016 22:00  2016     12   31    22    488
8783  Beijing  12/31/2016 23:00  2016     12   31    23    507

[8784 rows x 7 columns]

In [8]:
df3 = df2.rename(columns={'Date (LST)':'Date','Value':'value'})
df3

         Site              Date  Year  Month  Day  Hour  value
0     Beijing     1/1/2016 0:00  2016      1    1     0    231
1     Beijing     1/1/2016 1:00  2016      1    1     1    239
2     Beijing     1/1/2016 2:00  2016      1    1     2    205
3     Beijing     1/1/2016 3:00  2016      1    1     3    167
4     Beijing     1/1/2016 4:00  2016      1    1     4    132
...       ...               ...   ...    ...  ...   ...    ...
8779  Beijing  12/31/2016 19:00  2016     12   31    19    409
8780  Beijing  12/31/2016 20:00  2016     12   31    20    432
8781  Beijing  12/31/2016 21:00  2016     12   31    21    482
8782  Beijing  12/31/2016 22:00  2016     12   31    22    488
8783  Beijing  12/31/2016 23:00  2016     12   31    23    507

[8784 rows x 7 columns]

In [9]:
df3.dtypes

Site     object
Date     object
Year      int64
Month     int64
Day       int64
Hour      int64
value     int64
dtype: object

In [10]:
df3.astype('str').dtypes

Site     object
Date     object
Year     object
Month    object
Day      object
Hour     object
value    object
dtype: object

## 作业2：7.6:进一步整理PM2.5数据
```
    要求：
    在数据中剔除PM2.5为-900的案例
    建立一个新变量high，当PM2.5 >= 200 时为1，否则为0
    建立一个新变量high2，按照PM2.5在100，200，500分为4段，分别取值0，1，2，3
    将high2转换成哑变量组
    按照50一个组段，将PM2.5数值转换为分段变量high3
```

In [19]:
### 在数据中剔除PM2.5大于-900的案例
df4 = df3.loc[df3['value'] > 0]
df4.reset_index()

      index     Site              Date  Year  Month  Day  Hour  value
0         0  Beijing     1/1/2016 0:00  2016      1    1     0    231
1         1  Beijing     1/1/2016 1:00  2016      1    1     1    239
2         2  Beijing     1/1/2016 2:00  2016      1    1     2    205
3         3  Beijing     1/1/2016 3:00  2016      1    1     3    167
4         4  Beijing     1/1/2016 4:00  2016      1    1     4    132
...     ...      ...               ...   ...    ...  ...   ...    ...
8723   8779  Beijing  12/31/2016 19:00  2016     12   31    19    409
8724   8780  Beijing  12/31/2016 20:00  2016     12   31    20    432
8725   8781  Beijing  12/31/2016 21:00  2016     12   31    21    482
8726   8782  Beijing  12/31/2016 22:00  2016     12   31    22    488
8727   8783  Beijing  12/31/2016 23:00  2016     12   31    23    507

[8728 rows x 8 columns]

In [23]:
### 建立一个新变量high，当PM2.5 >= 200 时为1，否则为0
def func(x):
    if x >=200:
        return 1
    else:
        return 0
df4['high'] = df4['value'].apply(func)
df4

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

         Site              Date  Year  Month  Day  Hour  value  high
0     Beijing     1/1/2016 0:00  2016      1    1     0    231     1
1     Beijing     1/1/2016 1:00  2016      1    1     1    239     1
2     Beijing     1/1/2016 2:00  2016      1    1     2    205     1
3     Beijing     1/1/2016 3:00  2016      1    1     3    167     0
4     Beijing     1/1/2016 4:00  2016      1    1     4    132     0
...       ...               ...   ...    ...  ...   ...    ...   ...
8779  Beijing  12/31/2016 19:00  2016     12   31    19    409     1
8780  Beijing  12/31/2016 20:00  2016     12   31    20    432     1
8781  Beijing  12/31/2016 21:00  2016     12   31    21    482     1
8782  Beijing  12/31/2016 22:00  2016     12   31    22    488     1
8783  Beijing  12/31/2016 23:00  2016     12   31    23    507     1

[8728 rows x 8 columns]

In [35]:
###  建立一个新变量high2，按照PM2.5在100，200，500分为4段，分别取值0，1，2，3
df4['high2'] = pd.cut(df4['value'],bins=[0,100,200,500,max(df4['value'])],labels=["0","1","2","3"])
df4

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

         Site              Date  Year  Month  Day  Hour  value  high high2
0     Beijing     1/1/2016 0:00  2016      1    1     0    231     1     2
1     Beijing     1/1/2016 1:00  2016      1    1     1    239     1     2
2     Beijing     1/1/2016 2:00  2016      1    1     2    205     1     2
3     Beijing     1/1/2016 3:00  2016      1    1     3    167     0     1
4     Beijing     1/1/2016 4:00  2016      1    1     4    132     0     1
...       ...               ...   ...    ...  ...   ...    ...   ...   ...
8779  Beijing  12/31/2016 19:00  2016     12   31    19    409     1     2
8780  Beijing  12/31/2016 20:00  2016     12   31    20    432     1     2
8781  Beijing  12/31/2016 21:00  2016     12   31    21    482     1     2
8782  Beijing  12/31/2016 22:00  2016     12   31    22    488     1     2
8783  Beijing  12/31/2016 23:00  2016     12   31    23    507     1     3

[8728 rows x 9 columns]

In [42]:
### 将high2转换成哑变量组
pd.get_dummies(df4,columns=['high2'])

,Site,Date,Year,Month,Day,Hour,value,high,high2_0,high2_1,high2_2,high2_3
0,Beijing,1/1/2016 0:00,2016,1,1,0,231,1,0,0,1,0
1,Beijing,1/1/2016 1:00,2016,1,1,1,239,1,0,0,1,0
2,Beijing,1/1/2016 2:00,2016,1,1,2,205,1,0,0,1,0
3,Beijing,1/1/2016 3:00,2016,1,1,3,167,0,0,1,0,0
4,Beijing,1/1/2016 4:00,2016,1,1,4,132,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
8779,Beijing,12/31/2016 19:00,2016,12,31,19,409,1,0,0,1,0
8780,Beijing,12/31/2016 20:00,2016,12,31,20,432,1,0,0,1,0
8781,Beijing,12/31/2016 21:00,2016,12,31,21,482,1,0,0,1,0
8782,Beijing,12/31/2016 22:00,2016,12,31,22,488,1,0,0,1,0
8783,Beijing,12/31/2016 23:00,2016,12,31,23,507,1,0,0,0,1

In [60]:
### 按照50一个组段，将PM2.5数值转换为分段变量high3
df4['high3'] = pd.cut(df4['value'],bins=np.arange(0,max(df4['value'])))
df4

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,Site,Date,Year,Month,Day,Hour,value,high,high2,high3
0,Beijing,1/1/2016 0:00,2016,1,1,0,231,1,2,"(230, 231]"
1,Beijing,1/1/2016 1:00,2016,1,1,1,239,1,2,"(238, 239]"
2,Beijing,1/1/2016 2:00,2016,1,1,2,205,1,2,"(204, 205]"
3,Beijing,1/1/2016 3:00,2016,1,1,3,167,0,1,"(166, 167]"
4,Beijing,1/1/2016 4:00,2016,1,1,4,132,0,1,"(131, 132]"
...,...,...,...,...,...,...,...,...,...,...
8779,Beijing,12/31/2016 19:00,2016,12,31,19,409,1,2,"(408, 409]"
8780,Beijing,12/31/2016 20:00,2016,12,31,20,432,1,2,"(431, 432]"
8781,Beijing,12/31/2016 21:00,2016,12,31,21,482,1,2,"(481, 482]"
8782,Beijing,12/31/2016 22:00,2016,12,31,22,488,1,2,"(487, 488]"
8783,Beijing,12/31/2016 23:00,2016,12,31,23,507,1,3,"(506, 507]"