# 设定系统环境

In [4]:
import pandas as pd
import numpy as np
import math
import os
from datetime import datetime
pd.options.display.max_rows = 10 # 设定自由列表输出最多10行
pd.__version__ # 显示当前pandas版本号

'0.24.2'

# 获取数据

## 新建数据框

In [ ]:
df1 = pd.DataFrame(
{
    'var1': 1.0,
    'var2': [1,2,3,4],
    'var3': ["test", "train", "test","train"],
    'var4': 'cons'
}
)
df1

## 读入文本格式数据文件

In [ ]:
df2 = pd.DataFrame(data = [[1,"test"], [2,"train"], [3,"test"], [4,"train"]], columns = ['var2', 'var3'])
df2

## 读入EXCEL文件

##  读入统计软件数据集
### 读入SAS/Stata数据文件

In [ ]:
file_dir =  "..\\04 data\\"
filename = "university.csv"

In [ ]:
df_university = pd.read_csv(file_dir + filename)
df_university

In [ ]:
df_university2 = pd.read_table(file_dir + filename,sep=',',encoding='utf-8')
df_university2

In [ ]:
df3 = pd.read_excel(file_dir + "大学排行榜.xlsx", sheet_name = 'full')

## 读入统计软件数据集
### 读入SAS/Stata数据文件
### 读入SPSS数据文件

## 读入数据库文件
### 配置所需的程序包和驱动
* 所需程序包
    * SQLAchemy engine:几乎可以使用任何常见的DB格式和操作命令
    * DBAPI2 connection:只对sqlite3有较完整的支持
* 驱动配置：QLAAcheemy docs

### 读入数据表
```
pd.read_sql(
    sql:需要执行的SQL语句、要读入的表名称
    con: SQLALchemy连接引擎名称
    index_col = None: 将被用作索引的列名称
    colums = None: 当提供名称时，需要读入的列名称list
)
read_sql_quera()
read_sql_table()
```

# 保存数据
## 保存数据至外部文件
```
df.to_csv(
    filepath_or_buffer: 要保存的文件路径
    sep = ',' ：分隔符
    columns: 需要导出的变量列表
    header = True: 指定导出数据的新变量名，可直接提供list
    index = True: 是否导出索引
    mode = 'w': 其他读写模式r r+ w w+ a a+
    encoding = 'utf-8' :默认导出的文件编码格式
)
```

```
df.to_excel(
    filepath_or_buffer ：要读入的文件路径
    sheet_name = 'sheet1' : 要保存的表单名称
)
```

In [ ]:
df_university.to_csv(file_dir+ 'tmp.csv', header = True)

In [ ]:
df4 = pd.read_csv(file_dir + 'tmp.csv')

In [ ]:
df4

## 保存数据到数据库
```
df.to_sql(
    name: 将要存储数据的表名称
    con: SQLAlchemy引擎/DBAPI2连接引擎名称
    if_exists = 'fail': 指定表已经存在时除了方式
        fail : 不做处理
        replace： 删除原表并重建新表
        append: 在原表后插入新数据
    index = True: 是否导出索引
)
```

# 变量列的基本操作
## 对数据做简单浏览

In [ ]:
file_path_in = "..\\04 data\\PythonData\\"
file_name_in = "高校信息.csv"

In [ ]:
df1 = pd.read_csv(file_path_in + file_name_in, encoding='gb2312')

In [ ]:
print(df1)

In [ ]:
# 数据框的基本信息
df1.info()

In [ ]:
# 浏览前N条记录
df1.head(2)

In [ ]:
# 浏览后N条记录
df1.tail(3)

## 重命名列
* 直接修改columns属性
```
df.columns = 新的名称list
```
* 只修改指定列名

```
df.rename(
    columns = 新旧名称字典：{'旧名称': '新名称'}
    inplace = False: 是否直接替代原始数据
)
```

In [ ]:
# 给出变量名、列名
df1.columns

In [ ]:
df1.columns = ['名次', '学校名称', '总分', '类型', '所在省份', '所在城市', '办学方向', '主管部门']

In [ ]:
df2 = df1.rename(columns={'名次':'名次2'},inplace=False)

In [ ]:
df2

## 筛选变量列
df.var
    * 只适合已经存在的列
    * 智能筛选单列，结果为Series

In [ ]:
df2.名次2

df['var']
    单列的筛选结果为Series，如果希望为df，需要使用列表形式
    
df[ ['var1','var2'] ]
    多列时，列名需要使用列表形式提供
    多列的筛选结果为DF

In [ ]:
df2[[ '名次2','总分']]

## 删除变量列
```
df.drop(
    index/columns = 准备删除的行/列标签，多个时用列表形式提供
    inplace = False 是否直接更改原始数据
)
```

In [ ]:
df2.drop(columns= ['名次2', '所在城市'])

## 变量类型的变换
### Pandas支持的数据类型
具体类型是Python，Numpy各种类型的混合
* float
* int
* string
* bool
* datetime64[ns],datetime64[ns,tz],timedalta[ns]
* category
* object
df.dtypes:查看各列的数据类型

In [ ]:
df2.dtypes

### 在不同数据类型间转换
```
df.astype(
    dtype:指定希望转换的数据类型
    copye = True: 是否生成新的副本，而不是替换数据框
    errors = 'raise':转换出错是否抛出错误，'raise/ignore'
)
```

In [ ]:
df2.astype('str').dtypes

In [ ]:
df2.astype('int',errors = 'ignore').dtypes

In [ ]:
df2[['名次2','总分']].astype('str').dtypes

## 实战；对PM数据做简单清理
要求
    * 在数据中删除对后续分析无用的Parameter、Duration、QC Name等变量列
    * 尝试对Date(Lst)、Value等变量进行重命名
    * 尝试对数据做各种类型转换

# Padas索引
索引的用途
* 用于分析、可视化、数据展示、数据操作中标记数据行
* 提供数据汇总、合并、筛选时关键依据
* 提供数据重构时的关键依据

注意事项
* 索引是不可以直接修改，智能增、删、替换
* 逻辑上索引不应当出现重复值，Pandas对这种情况不好报错，但显然有潜在风险

## 建立索引
### 新建数据框时建立索引
所有的数据框默认都已经拥有流水号格式的索引，因此这里的“建立”索引值的时自定义索引

In [ ]:
df1 = pd.DataFrame(
{'var1':1.0, 'var2':[1,2,3,5], 'var3':["test","train","test","train"], 'var4': 'cons'}, index = ['a','b','c','d']
)
df1

### 读数据时建立索引
数据列直接提供索引值，因此指明相应的数据列即可

In [ ]:
df2 = pd.read_csv(file_path_in + file_name_in, encoding='gbk',index_col="学校名称")
df2

In [ ]:
# 生成复合索引
df3 = pd.read_csv(file_path_in + file_name_in, encoding='gbk',index_col=["学校名称","类型"])
df3

### 指定某列为索引列
```
df.set_index(
    keys: 被指定为索引的列名，复合索引用list格式提供
    drop = True: 建立索引后是否删除该列
    append = False: 是否在原索引上添加索引，默认是直接替换原索引
    inplace = False: 是否直接修改原始数据
)
```

In [ ]:
df4 = pd.read_csv(file_path_in + file_name_in,encoding='gbk')
df4

In [ ]:
df5 = df4.set_index('名次')
df5

In [ ]:
# 生成复合索引
df5 = df4.set_index('名次', append = True, drop = False)
df5

## 将索引还原为变量列
df.reset_index(
    drop = False: 是否将索引直接删除，而不是还原为变量列
    inplace = False:是否直接修改数据框
    level = None:对于多重索引，确定转为哪个级别变量
)

In [ ]:
df6 = df4.copy() # 真正生成副本，而不是指定另外别名
df6.set_index('所在省份', inplace = True, append = True)
df6

In [ ]:
df6.reset_index(inplace = True)
df6

## 引用和修改索引
### 引用索引

In [ ]:
df4.index

In [ ]:
df5.index

## 修改索引
### 修改索引名
本质上和变量列名的修改方式相同

In [ ]:
df4.index.names

In [ ]:
df5.index.names

In [ ]:
df4.index.names = ['idx']
df4.index.names

### 修改索引值
这里的修改本质上是全部替换

In [ ]:
df6 = pd.DataFrame(
{
    'var1': 1.0,
    'var2': [1,2,3,4],
    'var3': ["test", "train", "test","train"],
    'var4': 'cons'
}
)
df6

In [ ]:
df6.index = ['a','b','c','d']
df6

### 强行更新索引
reindex则可以使用数据框中不存在的数值建立索引，并据此扩充新索引值对应的索引行/列，同时进行缺失值填充操作
```
df.reindex(
    labels:类数组结构的数值，将按此数值重建索引，非必须
    axis:针对哪个轴进行重建
            ('index','columns') or number(0,1)
    copy=True: 建立新对象而不是直接更改
    level:考虑被重建的索引级别
    
    缺失数据的处理方式
        method :针对已经拍下的索引，确定数据单元格无数据时的填充方法，非必须
            pad/ffill:用前面的有效数值填充
            backfill/bfill:用后面的有效数值填充
            nearest: 使用最接近的数值进行填充
        fill_value = np.NaN: 将缺失值用什么数代替
        limit = None :向前/向后填充时的最大步长
)
```

In [ ]:
df4.set_index('名次')

In [ ]:
df4.reindex()

In [ ]:
df4.reindex([1,2,99,101])

In [ ]:
df4.reindex([1,2,99,101], method = 'ffill')

In [ ]:
df4.reindex([1,2,99,101], fill_value = '不知道')

In [ ]:
df4.reindex([1,2,99,101], fill_value = '不知道').dtypes

## 实战：为PM2.5数据建立索引
要求：
* 尝试在读入文件时直接建立索引
* 尝试使用Date(LST)建立单一索引
    为了便于操作，最好重命名
* 尝试使用Year,Month,Day,Hour建立复合索引
* 尝试修改索引名

# 案例行的基本操作

## 案例排序
### 用索引排序
```
df.sort_index(
    level:(多重索引)指定用于排序的级别序号、名称
    ascending = True:是否为升序拍了
    inplace = False
    na_position = 'last':缺失值的排列顺序，'first' 'last'
)
```

In [ ]:
file_path_in = "..\\04 data\\PythonData\\"
file_name_in = "高校信息.xlsx"
df2 = pd.read_excel(file_path_in+file_name_in,sheet_name=0)
df2.set_index(['类型','学校名称'],inplace = True)
df2

In [ ]:
df2.sort_index()

In [ ]:
df2.sort_index(ascending = [True,False])

In [ ]:
df2

### 用变量值排序
```
df.sort_values(
    by:指定用于排序的变量名，多列时以列表形式提供
    ascending = True:是否升序排序
    inplace = False
    na_position = 'last':缺失值的排列顺序，'first' 'last'
)
```

In [ ]:
df2.sort_values(['所在省份','所在城市'])

## 案例筛选
筛选的本质：基于T/F进行筛选

In [ ]:
sellist = [True, False, True]
df2.iloc[sellist]

### 按照绝对位置进行筛选
df.iloc
    意为integer-location，即按照行序号进行检索
    可以同时指定行列，指定列时，需先用","表面列序号

In [ ]:
df2.iloc[0:3] #不包括右侧界值

In [ ]:
df2.iloc[[0,3]]

In [ ]:
df2.iloc[:,0:3]#指定列范围,不包括右侧边界值

In [ ]:
df2.iloc[1:4, [0,3]] # 同时指定行列

### 按照索引值进行筛选

```
df.loc
    按照给出的索引值进行筛选
    筛选范围包括上下界值
    出现未知索引值会报错
df.xs(key, axis=0, level=None, drop_level=True)
    指定具体检索用的多重索引级别
```

In [ ]:
df3 = pd.read_excel(file_path_in+file_name_in,sheet_name=0,index_col='名次')
df3

In [ ]:
df3 = pd.read_excel(file_path_in+file_name_in,sheet_name=0,index_col='学校名称')
df3

In [ ]:
df3.loc[['北京大学','复旦大学'],['所在省份','名次','总分'] ]

In [ ]:
df2.xs('北京大学',level = 1)

### 使用混合模式进行筛选

```
df.ix
    不建议使用
```

使用loc命令进行筛选，即可

### 列表筛选

df[筛选条件]

#### 按照数据范围进行筛选

In [ ]:
df3[df3.名次>10]
#df3[df3['名次']>10]

#### 按照列表筛选

`
df.isin(values)
    返回结果为相应的位置是否匹配给出的values
    values为序列：对应每个具体值
    values为字典：对应每个变量名次
    values为数据框：同时对应数值和变量名称
`

In [ ]:
df3[df3['名次'].isin([1,3,5])]

### 条件筛选

In [ ]:
df3[df3.所在省份.isin(['北京','上海'])]

#### 多重条件的联合筛选

In [ ]:
df4 = df3[df3['名次'] >10]
df4[df4['名次'] < 90]

### 用类SQL语句进行筛选
`
df.query(
    expr: 类SQL语句表达式
    可以使用前缀'@'引用环境变量
    不支持like语句
    inplace = False
)
`

In [ ]:
df3.query("名次 > 10 and 名次 < 90 and 所在省份 not in ('北京','上海')")

## 实战：筛选数据中所需的案例

```
高校信息数据：
    分别使用索引、非索引和类SQL方式，筛选出 教育部主管的总分低于70分的大学
    只将主管部门设定为索引，重新实现上述需求
北京PM2.5数据:
    筛选出 PM2.5 > 200 的案例
    筛选出 2016年10月，PM2.5 > 100的案例
    筛选出 2016年10月上班时间（9:00AM-5:00PM）,PM2.5>100的案例
```

In [ ]:
file_path_high_school = "..\\04 data\\PythonData\\"
file_name_high_school = "高校信息.csv"
file_path_pm2p5 =  "..\\04 data\\PythonData\\PM25\\"
file_name_pm2p5 = 'Beijing_2016_HourlyPM25_created20170201.csv'

In [ ]:
df_high_school = pd.read_csv(file_path_high_school+file_name_high_school,engine='python')
df_pm2p5 = pd.read_csv(file_path_pm2p5+file_name_pm2p5,engine='python',encoding='utf8')

In [ ]:
# 索引
df_high_school1 = df_high_school.set_index(['主管部门'])
df_high_school2 = df_high_school1.loc[ ['教育部'], ]
df_high_school3 = df_high_school2[ df_high_school2['总分'] < 70 ]
df_high_school3

In [ ]:
#非索引
df_high_school1 = df_high_school[ df_high_school['主管部门'] == '教育部' ]
df_high_school2 = df_high_school1[ df_high_school1['总分'] < 70  ]
df_high_school2

In [ ]:
# SQL
df_high_school.query("主管部门 in ('教育部') and 总分 < 70")

# 变量变换
## 计算新变量
### 新变量为常数

```
df[ 'varname' ] = value
```

In [ ]:
file_path_high_school = "..\\04 data\\PythonData\\"
file_name_high_school = "高校信息.csv"
df_high_school = pd.read_csv(file_path_high_school+file_name_high_school,engine='python')

In [ ]:
df_high_school.head()

In [ ]:
df_high_school['cons'] = 1
df_high_school

###  新变量基于一个/多个原变量做简单四则运算
```
df['varname'] = df['oldvar'] * 100
df['varname'] = df.oldvar *100
```

In [ ]:
df_high_school['new'] = df_high_school['总分'] + df_high_school['名次'] + 1
df_high_school

In [ ]:
df_high_school['new'] = np.sqrt(df_high_school['总分'])
df_high_school

### 新变量基于一个原变量
```
df.apply(
    func:希望对行、列执行的函数表达式
    axis = 0：针对行还是列进行计算？
        0/'index':针对每列进行计算
        1/'columns':针对每行进行计算，
    )
简化用法
    df['varname']  = df.oldvar.apply(函数表达式)
```

In [ ]:
df_high_school['new3'] = df_high_school['总分'].apply(np.sqrt)
df_high_school

```
特殊运算的实现方式，截取变量的第1个字符
def m_head(tmpstr):
    return tmpstr[:1]
对所有单元格进行相同对函数运输
    dfnew = df.applymap(函数表达式) #是以cell为单位进行操作
```，

In [ ]:
df_high_school[ ['名次','总分']].applymap(math.sqrt)

## 在指定位置插入心变量列
```
df.insert(
    loc:插入位置的索引值，0<=loc<=len(columns)
    column:插入对新列名称
    value:Series或者类数据结构的变量值
    allow_duplicates = False:是否允许新列重名
    )
#该方法会直接修改原df
```

In [ ]:
df_high_school.insert(1,'newvar','cons')
df_high_school

## 修改，替换变量值
本质上是如何直接指定到单元格的问题，只要能够准确的定位在那个地址，就能够做到准确的替换

In [ ]:
df_high_school[df_high_school['所在城市'].isin(['上海'])]

### 对于数值对替换
```
df.replace(
   to_replace = None:将被替换的原数值，所有严格匹配对数值将被用value替换
    value = Nome:希望填充的新数值
    inplace = False
    )
```

In [ ]:
df_high_school['所在城市'].replace('北京市','帝都')

In [ ]:
df_high_school['所在城市'].replace(['北京市','上海市'],['帝都','魔都'])

In [ ]:
#字典批量映射替换
df_high_school['所在城市'].replace({'北京市':'帝都','上海市':'魔都'})

### 指定数值范围对替换
```
方法一：使用正则表达式
df.replace(regex,newvalue)
方法二：使用行筛选
    用行筛选方式得到索引，然后用loc命令定位替换
    目前也支持直接筛选出单元格进行数值替换
```

In [ ]:
df_high_school['总分'].iloc[0:2] = 10
df_high_school

In [ ]:
df_high_school.loc[3:5, '总分']  = 20#3，4，5都会被替换，需要注意
df_high_school

In [ ]:
# 用loc命令完成替换
#df_high_school.loc[df_high_school[df_high_school['名次']< 10].index,'总分'] = 200
df_high_school.loc[df_high_school['名次']< 10,'总分'] = 200
df_high_school

In [ ]:
# 直接进行定位和替换
df_high_school['总分'][df_high_school['名次'] < 10 ] =25
df_high_school

## 哑变量变换
```
pd.get_dummies(
    data:希望转换对数据框/变量列
    prefix = None:哑变量名称前缀
    prefix_step = '_':前缀和序号之间对连接字符，设定有prefix或列名时有效
    dummy_na = False:是否为NaNs专门设定一个哑变量列
    columns = None:希望转换对原始列名，如果不设定，则转换所有符合条件对列
    drop_first = False:是否饭后k-1呀变量，而不是k个哑变量
)# 返回值为数据框
```

In [ ]:
df_high_school.head()

In [ ]:
pd.get_dummies(df_high_school['类型'],prefix = "pre")

In [ ]:
pd.get_dummies(df_high_school,columns=['类型'])

## 数值变量分段
```
pd.cut(
    x:希望进行分段的变量名称
    bins:具体分段设定
        int:被等距等分的段数
        sequence of scalars:具体的每一个分段起点，必须包括最值，可以不等距
    right = True：每段是否包括右侧界值
    labels = None:为每个分段提供自定义标签
    include_lowest = False:第一段是否包括最左侧界值，需要和right参数配合
)#分段结果是数值类型为Categories
pd.qcut()#按照频数，而不是按照取值范围进行等分
```

In [ ]:
print(df_high_school.head())
df_high_school['cls'] = pd.cut(df_high_school['名次'],bins=[1,3,7],right = False)
df_high_school.head(10)

## 实战：进一步整理PM2.5数据
```
    要求：
    在数据中剔除PM2.5为-900的案例
    建立一个新变量high，当PM2.5 >= 200 时为1，否则为0
    建立一个新变量high2，按照PM2.5在100，200，500分为4段，分别取值0，1，2，3
    将high2转换成哑变量组
    按照50一个组段，将PM2.5数值转换为分段变量high3
```

# 文件界别的数据管理

## 数据拆分

### 标记数据拆分组

```
df.groupby(
    by:用于分组对变量名/函数
    axis = 0:
    level = None
    as_index = True
    sort = True
)
在数据分组之后，许多数据处理分析绘图命令都可以在各组间单独执行
```

In [ ]:
file_path_high_school = "..\\04 data\\PythonData\\"
file_name_high_school = "高校信息.csv"
df = pd.read_csv(file_path_high_school+file_name_high_school,engine='python')

In [ ]:
df

In [ ]:
dfg=df.groupby('类型')
dfg

In [ ]:
dfg.groups

In [ ]:
df.describe()

In [ ]:
dfg.describe()

### 给予拆分进行筛选
```
筛选出其中的一组
dfgroup.get_group()
```

In [ ]:
dfg.get_group('农林').mean()

In [ ]:
dfg.mean()

## 分组汇总

### 使用agg函数进行汇总

In [ ]:
dfg.agg(['mean','median'])

In [ ]:
#引用非内置函数
print(df['总分'].agg(np.sum))
dfg['总分'].agg(np.sum)

### 其他分组汇总方法
在生成交叉表的同时对单元格指定具体对汇总指标和汇总函数，类似透视功能
```
df.pivot_table()
pd.crosstable()
```

In [ ]:
pd.crosstab(df['办学方向'],df['类型'])

In [ ]:
pd.pivot_table(df, index = ['办学方向','类型'],aggfunc=[np.sum,len])

## 重复测量数据格式的转换
### 转换为最简格式
df.stack(
    level=-1:需要处理的索引级别，默认为全部
    dropna = True:是否删除缺失值对行
)#转换后的结果可能为Series
```
重复测量数据的长型格式
重复测量数据对宽行格式
```

In [2]:
file_path = "..\\04 data\\PythonData\\"
file_name_children = "儿童生长研究.xlsx"
df_children = pd.read_excel(file_path+file_name_children,index_col=[0,2])

In [3]:
df_children

        性别   测量值
个体ID 年龄
1    8   F  21.0
     10  F  20.0
     12  F  21.5
     14  F  23.0
2    8   F  21.0
...     ..   ...
26   14  M  30.0
27   8   M  22.0
     10  M  21.5
     12  M  23.5
     14  M  25.0

[108 rows x 2 columns]

In [8]:
dfs = df_children.stack()
dfs

个体ID  年龄
1     8   性别        F
          测量值      21
      10  性别        F
          测量值      20
      12  性别        F
                 ...
27    10  测量值    21.5
      12  性别        M
          测量值    23.5
      14  性别        M
          测量值      25
Length: 216, dtype: object

### 长宽格式对自由转换
```
df.unstack(
    level = -1
    fill_value:用于填充缺失的数值
)
```

In [9]:
dfs.unstack(1)

年龄          8     10    12    14
个体ID
1    性别      F     F     F     F
     测量值    21    20  21.5    23
2    性别      F     F     F     F
     测量值    21  21.5    24  25.5
3    性别      F     F     F     F
...        ...   ...   ...   ...
25   测量值  22.5  25.5  25.5    26
26   性别      M     M     M     M
     测量值    23  24.5    26    30
27   性别      M     M     M     M
     测量值    22  21.5  23.5    25

[54 rows x 4 columns]

In [10]:
dfs.unstack([1,2])

年龄   8        10       12       14
     性别   测量值 性别   测量值 性别   测量值 性别   测量值
个体ID
1     F    21  F    20  F  21.5  F    23
2     F    21  F  21.5  F    24  F  25.5
3     F  20.5  F    24  F  24.5  F    26
4     F  23.5  F  24.5  F    25  F  26.5
5     F  21.5  F    23  F  22.5  F  23.5
...  ..   ... ..   ... ..   ... ..   ...
23    M  21.5  M  23.5  M    24  M    28
24    M    17  M  24.5  M    26  M  29.5
25    M  22.5  M  25.5  M  25.5  M    26
26    M    23  M  24.5  M    26  M    30
27    M    22  M  21.5  M  23.5  M    25

[27 rows x 8 columns]

### 其他命令
```
df.melt()
df.pivot()
df.pivot_table()

## 多个数据源对合并
### 数据的纵向合并

```
df.append(
    other:希望添加对DF/Series/字典/上述对象对列表
        使用列表方式，就可以实现一次合并多个新对象
    ignore_index =False:添加时是否忽略索引
    verify_intergrity = False:是否检查索引值的唯一性
)
```

In [ ]:
file_path = "..\\04 data\\PythonData\\"
file_name = "高校信息.xlsx"
df1 = pd.read_excel(file_path+file_name, sheet_name = 'part1')
df2 = pd.read_excel(file_path+file_name, sheet_name = 'part2')

In [ ]:
df1 = df1.sort_values('总分')

In [ ]:
df2_new = df2.append(df1)

In [ ]:
df2_new

### 数据的横向合并
```
pd.merge(
    需要合并的DF
        left:需要合并的左侧DF
        right:需要合并的右侧Df
    how = 'inner':具体连接类型{'left','right','outer','inner'}
    两个DF连接方式
        on:用于连接两个DF关键变量，必须在两侧都出现
        left_on：左侧DF用于连接的关键变量
        right_on:右侧DF用于连接的关键变量
        left_index = False:是否将左侧DF的索引用于连接
        right_index = False:是否将右侧的索引用于连接
    其他附加设定
        sort = False:是否在合并前按照关键变量排序
        suffixes
        copy = True
        indicator = False
        validate = None
)
```

In [ ]:
df2a = pd.read_excel(file_path+file_name, sheet_name = 'var6')
df2b = pd.read_excel(file_path+file_name, sheet_name = 'var3')
print(df2a)
print(df2b)

In [ ]:
pd.merge(df2a,df2b)

In [ ]:
pd.merge(df2a,df2b[:20])

### Concat命令简介
```
同时支持横向合并和纵向合并
pd.concat(
    objs:需要合并的对象，列表形式提供
    axis = 0:对行还是对列进行合并 0-index,1 -columns
    jion = 'outer':对另外周的处理
    ignore_index = False
    keys = None:
    varify_integrity = False
    copy = True  
)
```

In [ ]:
# 纵向合并
df21 = pd.read_excel(file_path+file_name, sheet_name = 'part1')
df22 = pd.read_excel(file_path+file_name, sheet_name = 'part2')
pd.concat([df21,df22])

In [ ]:
# 横向合并
df2ai = pd.read_excel(file_path+file_name, sheet_name = 'var6')
df2bi = pd.read_excel(file_path+file_name, sheet_name = 'var3')
pd.concat([df2ai,df2bi],axis=1)

In [ ]:
df2ai = df2a.set_index('学校名称')
df2bi = df2b.set_index('学校名称')
pd.concat([df2ai,df2bi],axis=1)

## 实战：对PM2.5数据做基本整理
```
要求：
    对PM2.5数据按照年进行拆分，然后计算
        每年PM2.5的平均值、中位数、最大值、最小值
        每年PM2.5值大于200，300，500的天数
    将PM2.5数据整理为以年为行，月为列，单元格为最大值的宽表形式
    姜2009年和2012年的数据分别提取出来合并为一个数据框
    分别使用长宽格式转换，筛选然后横向合并两种方式，将数据转换为每年一列的宽表格式
```

# 数据清洗

## 读入PM2.5实战案例

In [16]:
def m_readdata(file_name,start_line = 0):
    return pd.read_csv(file_name, header= start_line,usecols=[0,2,3,4,5,6,7,9,10],engine='python')

In [17]:
file_path_input =  "..\\04 data\\PythonData\\PM25\\"
file_names = os.listdir(file_path_input)#注意数据格式

In [18]:
bj = []
for file_name in file_names:
    print(file_name)
    bj.append(m_readdata(file_path_input+file_name))
df = pd.concat(bj).reset_index(drop=True)
df

Beijing_2008_HourlyPM2.5_created20140325.csv
Beijing_2009_HourlyPM25_created20140709.csv
Beijing_2010_HourlyPM25_created20140709.csv
Beijing_2011_HourlyPM25_created20140709.csv
Beijing_2012_HourlyPM2.5_created20140325.csv
Beijing_2013_HourlyPM2.5_created20140325.csv
Beijing_2014_HourlyPM25_created20150203.csv
Beijing_2015_HourlyPM25_created20160201.csv
Beijing_2016_HourlyPM25_created20170201.csv

,Site,Date (LST),Year,Month,Day,Hour,Value,Duration,QC Name
0,Beijing,2008-04-08 15:00,2008,4,8,15,207,1 Hr,Valid
1,Beijing,2008-04-08 16:00,2008,4,8,16,180,1 Hr,Valid
2,Beijing,2008-04-08 17:00,2008,4,8,17,152,1 Hr,Valid
3,Beijing,2008-04-08 18:00,2008,4,8,18,162,1 Hr,Valid
4,Beijing,2008-04-08 19:00,2008,4,8,19,171,1 Hr,Valid
...,...,...,...,...,...,...,...,...,...
75210,Beijing,12/31/2016 19:00,2016,12,31,19,409,Valid,NaN
75211,Beijing,12/31/2016 20:00,2016,12,31,20,432,Valid,NaN
75212,Beijing,12/31/2016 21:00,2016,12,31,21,482,Valid,NaN
75213,Beijing,12/31/2016 22:00,2016,12,31,22,488,Valid,NaN
75214,Beijing,12/31/2016 23:00,2016,12,31,23,507,Valid,NaN

## 处理缺失值
### 系统默认的缺失值设定
系统默认的缺失值
None和np.nan

确定相应数值是否为缺失值
df.isna() #反函数为notna

In [50]:
None == None

True

In [51]:
np.nan == np.nan

False

设定inf和-inf是否被认定为缺失值

pd.options.mode.use_inf_as_na

In [54]:
pd.options.mode.use_inf_as_na

False

### 处理自定义缺失值
目前Pandas不支持设定自定义缺失值，因此只能考虑将其替换为系统缺失值

df.replace('自定义缺失值',np.nan)

df.replace(['自定义缺失值1','自定义缺失值2'],[np.nan,np.nan])

### 标识缺失值
检查多个单元格对取之是否为指定数值
```
df.any(
axis:{index(0),columns(1)}
skipna=True:检查时是否忽略缺失值
level=None:多重索引时指定具体对级别
)
df.all(
axis:{index(0),columns(1)}
skipna=True:检查时是否忽略缺失值
level=None:多重索引时指定具体对级别
)
```

In [60]:
df[df.isna().any(1)]###显示缺失值所在行数据

,Site,Date (LST),Year,Month,Day,Hour,Value,Duration,QC Name
5087,Beijing,2009-01-01 00:00,2009,1,1,0,-999,Missing,NaN
5088,Beijing,2009-01-01 01:00,2009,1,1,1,-999,Missing,NaN
5089,Beijing,2009-01-01 02:00,2009,1,1,2,-999,Missing,NaN
5090,Beijing,2009-01-01 03:00,2009,1,1,3,-999,Missing,NaN
5091,Beijing,2009-01-01 04:00,2009,1,1,4,-999,Missing,NaN
...,...,...,...,...,...,...,...,...,...
75210,Beijing,12/31/2016 19:00,2016,12,31,19,409,Valid,NaN
75211,Beijing,12/31/2016 20:00,2016,12,31,20,432,Valid,NaN
75212,Beijing,12/31/2016 21:00,2016,12,31,21,482,Valid,NaN
75213,Beijing,12/31/2016 22:00,2016,12,31,22,488,Valid,NaN
75214,Beijing,12/31/2016 23:00,2016,12,31,23,507,Valid,NaN

### 填充缺失值
```
df.fillna(
    value:用于填充缺失值对数值
    method=None:有索引时具体填充方法，向前填充，向后填充等
    limit=None:指定method后设定具体对最大填充步长，大于此步长不能填充
    axis:{o or index, 1 or 'columns}
    inplace = False
)
```

In [63]:
df_na = df[df.isna().any(1)]###显示缺失值所在行数据
df_na

,Site,Date (LST),Year,Month,Day,Hour,Value,Duration,QC Name
5087,Beijing,2009-01-01 00:00,2009,1,1,0,-999,Missing,NaN
5088,Beijing,2009-01-01 01:00,2009,1,1,1,-999,Missing,NaN
5089,Beijing,2009-01-01 02:00,2009,1,1,2,-999,Missing,NaN
5090,Beijing,2009-01-01 03:00,2009,1,1,3,-999,Missing,NaN
5091,Beijing,2009-01-01 04:00,2009,1,1,4,-999,Missing,NaN
...,...,...,...,...,...,...,...,...,...
75210,Beijing,12/31/2016 19:00,2016,12,31,19,409,Valid,NaN
75211,Beijing,12/31/2016 20:00,2016,12,31,20,432,Valid,NaN
75212,Beijing,12/31/2016 21:00,2016,12,31,21,482,Valid,NaN
75213,Beijing,12/31/2016 22:00,2016,12,31,22,488,Valid,NaN
75214,Beijing,12/31/2016 23:00,2016,12,31,23,507,Valid,NaN

In [68]:
df_na_fillna= df_na.fillna(99)
df_na_fillna

,Site,Date (LST),Year,Month,Day,Hour,Value,Duration,QC Name
5087,Beijing,2009-01-01 00:00,2009,1,1,0,-999,Missing,99
5088,Beijing,2009-01-01 01:00,2009,1,1,1,-999,Missing,99
5089,Beijing,2009-01-01 02:00,2009,1,1,2,-999,Missing,99
5090,Beijing,2009-01-01 03:00,2009,1,1,3,-999,Missing,99
5091,Beijing,2009-01-01 04:00,2009,1,1,4,-999,Missing,99
...,...,...,...,...,...,...,...,...,...
75210,Beijing,12/31/2016 19:00,2016,12,31,19,409,Valid,99
75211,Beijing,12/31/2016 20:00,2016,12,31,20,432,Valid,99
75212,Beijing,12/31/2016 21:00,2016,12,31,21,482,Valid,99
75213,Beijing,12/31/2016 22:00,2016,12,31,22,488,Valid,99
75214,Beijing,12/31/2016 23:00,2016,12,31,23,507,Valid,99

### 删除缺失值
```
df.dropna(
    axis=0:{0 or 'index',1 or 'columns'}
    how = any:{any,all}
        any：任何一个为Na就删除
        allL所有对都是Na才删除
    thresh = None:删除对数据阈值，int
    subset:希望在处理中包括对行、列子集
    inplace = False
)
```

In [71]:
df_ex = pd.DataFrame([[np.nan,2,np.nan,0],
    [3,4,np.nan,1],
    [np.nan,np.nan,np.nan,5]],columns=list('ABCD'))
df_ex

     A    B   C  D
0  NaN  2.0 NaN  0
1  3.0  4.0 NaN  1
2  NaN  NaN NaN  5

In [74]:
df_ex.dropna(axis=0,how='all')
#df_ex.dropna(axis=1,how='all')
#df_ex.dropna(axis=0,how='any')

     A    B   C  D
0  NaN  2.0 NaN  0
1  3.0  4.0 NaN  1
2  NaN  NaN NaN  5

## 数据查查
### 标识出重复对行
标识重复行意义在于进一步确定重复原因，以便可能对错误加以修改
    dupplicated

In [81]:
df['dip'] = df.duplicated(['Site','Year','Month'])
df

,Site,Date (LST),Year,Month,Day,Hour,Value,Duration,QC Name,dip
0,Beijing,2008-04-08 15:00,2008,4,8,15,207,1 Hr,Valid,False
1,Beijing,2008-04-08 16:00,2008,4,8,16,180,1 Hr,Valid,False
2,Beijing,2008-04-08 17:00,2008,4,8,17,152,1 Hr,Valid,False
3,Beijing,2008-04-08 18:00,2008,4,8,18,162,1 Hr,Valid,False
4,Beijing,2008-04-08 19:00,2008,4,8,19,171,1 Hr,Valid,False
...,...,...,...,...,...,...,...,...,...,...
75210,Beijing,12/31/2016 19:00,2016,12,31,19,409,Valid,NaN,False
75211,Beijing,12/31/2016 20:00,2016,12,31,20,432,Valid,NaN,False
75212,Beijing,12/31/2016 21:00,2016,12,31,21,482,Valid,NaN,False
75213,Beijing,12/31/2016 22:00,2016,12,31,22,488,Valid,NaN,False
75214,Beijing,12/31/2016 23:00,2016,12,31,23,507,Valid,NaN,False

### 直接删除重复行
```
drop_duplicates:如果drop_duplicates(subset=""),则按照指定对行进行去重
keep='first'/'last'/False(直接删除所有重复值)
```

In [82]:
df.drop_duplicates(['Site','Year','Month','Day','Hour'],keep='first')

,Site,Date (LST),Year,Month,Day,Hour,Value,Duration,QC Name,dip
0,Beijing,2008-04-08 15:00,2008,4,8,15,207,1 Hr,Valid,False
1,Beijing,2008-04-08 16:00,2008,4,8,16,180,1 Hr,Valid,False
2,Beijing,2008-04-08 17:00,2008,4,8,17,152,1 Hr,Valid,False
3,Beijing,2008-04-08 18:00,2008,4,8,18,162,1 Hr,Valid,False
4,Beijing,2008-04-08 19:00,2008,4,8,19,171,1 Hr,Valid,False
...,...,...,...,...,...,...,...,...,...,...
75210,Beijing,12/31/2016 19:00,2016,12,31,19,409,Valid,NaN,False
75211,Beijing,12/31/2016 20:00,2016,12,31,20,432,Valid,NaN,False
75212,Beijing,12/31/2016 21:00,2016,12,31,21,482,Valid,NaN,False
75213,Beijing,12/31/2016 22:00,2016,12,31,22,488,Valid,NaN,False
75214,Beijing,12/31/2016 23:00,2016,12,31,23,507,Valid,NaN,False

## 实战：进一步整理PM2.5数据
```
要求：
    PM2.5数据中数值-999表示缺失，请将这些数据替换为np.nan
    给予上述处理结果，删除缺失值记录
    在数据中查找到PM2.5数值完全相同的记录
    在数据中查找到同一年中PM2.5数值完全相同对记录
```

# 处理日期时间变量

## Timestamp类和Period类
### Timestamp对象

In [5]:
datetime(2012,5,1)

datetime.datetime(2012, 5, 1, 0, 0)

In [7]:
pd.Timestamp(datetime(2015,5,1))

Timestamp('2015-05-01 00:00:00')

In [8]:
pd.Timestamp(datetime(2015,1,5,1,2,3))

Timestamp('2015-01-05 01:02:03')

In [9]:
pd.Timestamp('2015-05-01 1:2:3')

Timestamp('2015-05-01 01:02:03')

In [10]:
pd.Timestamp('2020/01/05')

Timestamp('2020-01-05 00:00:00')

### peroid对象
```
可以看作简化后的TimeStamp对象
    由于详细数据的不完整，而表示的是一段时间，而不是一个时点
使用方法和TimeStamp相同
```

In [12]:
pd.Period('2020/03/08')

Period('2020-03-08', 'D')

In [15]:
pd.Period('2020/03/8',freq='M')

Period('2020-03', 'M')

## 将数据转换为TimeStamp类
### 使用pd.Timestamp()直接转换

In [22]:
time_test = df['Date (LST)'][0]
pd.Timestamp(time_test)

Timestamp('2008-04-08 15:00:00')

### 用to_datetime进行批量转换
```
pd.to_datetime(
    arg:需要转换为timestamp类的数值
        interger,float,string,datetime,list,tuple,1-d array,Series
     errors='raise':{'ignore','raise','coerce'}
         'raise',抛出错误
         'coerce',设置为NaT
         'ignore',返回原值
     box=True:是否返回为DatetimeIndex,False时返回ndarray数组
     format = None:需要转换的字符串格式设定
)
```

In [24]:
pd.to_datetime(datetime(2020,3,8,19,38,0))

Timestamp('2020-03-08 19:38:00')

In [27]:
pd.to_datetime('2020-03-08 19:38:01')

Timestamp('2020-03-08 19:38:01')

In [28]:
pd.to_datetime(['2020/03/08','2020/03/08'])

DatetimeIndex(['2020-03-08', '2020-03-08'], dtype='datetime64[ns]', freq=None)

In [33]:
pd.to_datetime(df['Date (LST)'])

0       2008-04-08 15:00:00
1       2008-04-08 16:00:00
2       2008-04-08 17:00:00
3       2008-04-08 18:00:00
4       2008-04-08 19:00:00
                ...
75210   2016-12-31 19:00:00
75211   2016-12-31 20:00:00
75212   2016-12-31 21:00:00
75213   2016-12-31 22:00:00
75214   2016-12-31 23:00:00
Name: Date (LST), Length: 75215, dtype: datetime64[ns]

### 基于所需的变量列合成Timestamp

In [35]:
pd.to_datetime(df[['Year','Month','Day','Hour']])

0       2008-04-08 15:00:00
1       2008-04-08 16:00:00
2       2008-04-08 17:00:00
3       2008-04-08 18:00:00
4       2008-04-08 19:00:00
                ...
75210   2016-12-31 19:00:00
75211   2016-12-31 20:00:00
75212   2016-12-31 21:00:00
75213   2016-12-31 22:00:00
75214   2016-12-31 23:00:00
Length: 75215, dtype: datetime64[ns]

## 使用DatetimeIndex类

### 建立DateTimeIndex对象
#### 建立索引时自动转换
使用TimeStamp对象建立索引，将会自动转换为DatetimeIndex对象

In [36]:
time_index = df.set_index(pd.to_datetime(df['Date (LST)']))
time_index

,Site,Date (LST),Year,Month,Day,Hour,Value,Duration,QC Name
Date (LST),,,,,,,,,
2008-04-08 15:00:00,Beijing,2008-04-08 15:00,2008,4,8,15,207,1 Hr,Valid
2008-04-08 16:00:00,Beijing,2008-04-08 16:00,2008,4,8,16,180,1 Hr,Valid
2008-04-08 17:00:00,Beijing,2008-04-08 17:00,2008,4,8,17,152,1 Hr,Valid
2008-04-08 18:00:00,Beijing,2008-04-08 18:00,2008,4,8,18,162,1 Hr,Valid
2008-04-08 19:00:00,Beijing,2008-04-08 19:00,2008,4,8,19,171,1 Hr,Valid
...,...,...,...,...,...,...,...,...,...
2016-12-31 19:00:00,Beijing,12/31/2016 19:00,2016,12,31,19,409,Valid,NaN
2016-12-31 20:00:00,Beijing,12/31/2016 20:00,2016,12,31,20,432,Valid,NaN
2016-12-31 21:00:00,Beijing,12/31/2016 21:00,2016,12,31,21,482,Valid,NaN
2016-12-31 22:00:00,Beijing,12/31/2016 22:00,2016,12,31,22,488,Valid,NaN
2016-12-31 23:00:00,Beijing,12/31/2016 23:00,2016,12,31,23,507,Valid,NaN

#### 使用date_range建立DatetimeIndex对象
```
这种建立方式主要是和reindex命令配合使用，以快速完成对时间序列缺失值的填充工作
pd.date_range(
        start/end =None:日期时间范围的起点/终点，均为类日期时间格式的字符串/数据
        periods = None：准备生成的总记录数
        freq = 'D'：可以用字母和数值倍数组合，如'5H'
        name = None
)
```

In [41]:
pd.date_range('1/1/2020',periods=10,freq='H')

DatetimeIndex(['2020-01-01 00:00:00', '2020-01-01 01:00:00',
               '2020-01-01 02:00:00', '2020-01-01 03:00:00',
               '2020-01-01 04:00:00', '2020-01-01 05:00:00',
               '2020-01-01 06:00:00', '2020-01-01 07:00:00',
               '2020-01-01 08:00:00', '2020-01-01 09:00:00'],
              dtype='datetime64[ns]', freq='H')

### 基于索引的快速切片操作

In [42]:
time_index["2008-04-08":"2008-04-09"]

,Site,Date (LST),Year,Month,Day,Hour,Value,Duration,QC Name
Date (LST),,,,,,,,,
2008-04-08 15:00:00,Beijing,2008-04-08 15:00,2008,4,8,15,207,1 Hr,Valid
2008-04-08 16:00:00,Beijing,2008-04-08 16:00,2008,4,8,16,180,1 Hr,Valid
2008-04-08 17:00:00,Beijing,2008-04-08 17:00,2008,4,8,17,152,1 Hr,Valid
2008-04-08 18:00:00,Beijing,2008-04-08 18:00,2008,4,8,18,162,1 Hr,Valid
2008-04-08 19:00:00,Beijing,2008-04-08 19:00,2008,4,8,19,171,1 Hr,Valid
...,...,...,...,...,...,...,...,...,...
2008-04-09 19:00:00,Beijing,2008-04-09 19:00,2008,4,9,19,128,1 Hr,Valid
2008-04-09 20:00:00,Beijing,2008-04-09 20:00,2008,4,9,20,130,1 Hr,Valid
2008-04-09 21:00:00,Beijing,2008-04-09 21:00,2008,4,9,21,138,1 Hr,Valid
2008-04-09 22:00:00,Beijing,2008-04-09 22:00,2008,4,9,22,142,1 Hr,Valid
2008-04-09 23:00:00,Beijing,2008-04-09 23:00,2008,4,9,23,115,1 Hr,Valid

In [45]:
time_index['2008-04']

,Site,Date (LST),Year,Month,Day,Hour,Value,Duration,QC Name
Date (LST),,,,,,,,,
2008-04-08 15:00:00,Beijing,2008-04-08 15:00,2008,4,8,15,207,1 Hr,Valid
2008-04-08 16:00:00,Beijing,2008-04-08 16:00,2008,4,8,16,180,1 Hr,Valid
2008-04-08 17:00:00,Beijing,2008-04-08 17:00,2008,4,8,17,152,1 Hr,Valid
2008-04-08 18:00:00,Beijing,2008-04-08 18:00,2008,4,8,18,162,1 Hr,Valid
2008-04-08 19:00:00,Beijing,2008-04-08 19:00,2008,4,8,19,171,1 Hr,Valid
...,...,...,...,...,...,...,...,...,...
2008-04-30 19:00:00,Beijing,2008-04-30 19:00,2008,4,30,19,56,1 Hr,Valid
2008-04-30 20:00:00,Beijing,2008-04-30 20:00,2008,4,30,20,103,1 Hr,Valid
2008-04-30 21:00:00,Beijing,2008-04-30 21:00,2008,4,30,21,123,1 Hr,Valid
2008-04-30 22:00:00,Beijing,2008-04-30 22:00,2008,4,30,22,137,1 Hr,Valid
2008-04-30 23:00:00,Beijing,2008-04-30 23:00,2008,4,30,23,140,1 Hr,Valid

## 对时间序列做基本处理

### 序列的分组徽作
#### 直接取出索引的相应曾经
DateimeIndex对象可直接引言的Attribute
```
    date: Returns numpy array of python datetime.data objects
    time: Returns numpy array of python datetime.time objects
    year: The year of datetime
    quarter: The quarter of the date
    month: The month as January=1
    week: The week ordinal of the year
    weekday: The day of the week with Monday=0,Sunday=6
    weekday_name:The name of day in a week
    weekofyear: The week original of the year
    day: The days of the datetime
    dayofweek:
    dayofyear
    days_in_month
```

In [49]:
time_index.index.hour

Int64Index([15, 16, 17, 18, 19, 20, 21, 22, 23,  0,
            ...
            14, 15, 16, 17, 18, 19, 20, 21, 22, 23],
           dtype='int64', name='Date (LST)', length=75215)

#### 直接使用groupby方法进行汇总

In [51]:
time_index.groupby(time_index.index.month).max()

               Site        Date (LST)  Year  Month  Day  Hour  Value Duration
Date (LST)
1           Beijing  2014-01-31 23:00  2016      1   31    23    994    Valid
2           Beijing  2014-02-28 23:00  2016      2   29    23    980    Valid
3           Beijing     3/9/2016 9:00  2016      3   31    23    784    Valid
4           Beijing     4/9/2016 9:00  2016      4   30    23    722    Valid
5           Beijing     5/9/2016 9:00  2016      5   31    23    439    Valid
...             ...               ...   ...    ...  ...   ...    ...      ...
8           Beijing     8/9/2016 9:00  2016      8   31    23    360    Valid
9           Beijing     9/9/2016 9:00  2016      9   30    23    455    Valid
10          Beijing  2014-10-31 23:00  2016     10   31    23    562    Valid
11          Beijing  2014-11-30 23:00  2016     11   30    23    666    Valid
12          Beijing  2014-12-31 23:00  2016     12   31    23    634    Valid

[12 rows x 8 columns]

#### 使用功能更强的resample函数

In [52]:
time_index.resample('3D').mean()

              Year  Month        Day       Hour       Value
Date (LST)
2008-04-08  2008.0    4.0   9.263158  12.684211   93.754386
2008-04-11  2008.0    4.0  12.000000  11.500000   67.791667
2008-04-14  2008.0    4.0  15.000000  11.500000  164.527778
2008-04-17  2008.0    4.0  18.000000  11.500000  163.166667
2008-04-20  2008.0    4.0  21.000000  11.500000   38.597222
...            ...    ...        ...        ...         ...
2016-12-19  2016.0   12.0  20.000000  11.500000  325.152778
2016-12-22  2016.0   12.0  23.000000  11.500000   82.777778
2016-12-25  2016.0   12.0  26.000000  11.500000   85.083333
2016-12-28  2016.0   12.0  29.000000  11.500000  136.430556
2016-12-31  2016.0   12.0  31.000000  11.500000  350.083333

[1064 rows x 5 columns]

### 序列的缺失值处理

In [57]:
time_index_2009 = time_index['2009']
time_index_2009

,Site,Date (LST),Year,Month,Day,Hour,Value,Duration,QC Name
Date (LST),,,,,,,,,
2009-01-01 00:00:00,Beijing,2009-01-01 00:00,2009,1,1,0,-999,Missing,NaN
2009-01-01 01:00:00,Beijing,2009-01-01 01:00,2009,1,1,1,-999,Missing,NaN
2009-01-01 02:00:00,Beijing,2009-01-01 02:00,2009,1,1,2,-999,Missing,NaN
2009-01-01 03:00:00,Beijing,2009-01-01 03:00,2009,1,1,3,-999,Missing,NaN
2009-01-01 04:00:00,Beijing,2009-01-01 04:00,2009,1,1,4,-999,Missing,NaN
...,...,...,...,...,...,...,...,...,...
2009-12-31 19:00:00,Beijing,2009-12-31 19:00,2009,12,31,19,77,Valid,NaN
2009-12-31 20:00:00,Beijing,2009-12-31 20:00,2009,12,31,20,120,Valid,NaN
2009-12-31 21:00:00,Beijing,2009-12-31 21:00,2009,12,31,21,163,Valid,NaN
2009-12-31 22:00:00,Beijing,2009-12-31 22:00,2009,12,31,22,167,Valid,NaN
2009-12-31 23:00:00,Beijing,2009-12-31 23:00,2009,12,31,23,-999,Missing,NaN

In [59]:
time_index_2009_index = time_index_2009[time_index_2009.Value>0]
time_index_2009_index

,Site,Date (LST),Year,Month,Day,Hour,Value,Duration,QC Name
Date (LST),,,,,,,,,
2009-02-17 17:00:00,Beijing,2009-02-17 17:00,2009,2,17,17,70,Valid,NaN
2009-02-17 18:00:00,Beijing,2009-02-17 18:00,2009,2,17,18,57,Valid,NaN
2009-02-17 19:00:00,Beijing,2009-02-17 19:00,2009,2,17,19,58,Valid,NaN
2009-02-17 20:00:00,Beijing,2009-02-17 20:00,2009,2,17,20,63,Valid,NaN
2009-02-17 21:00:00,Beijing,2009-02-17 21:00,2009,2,17,21,61,Valid,NaN
...,...,...,...,...,...,...,...,...,...
2009-12-31 18:00:00,Beijing,2009-12-31 18:00,2009,12,31,18,64,Valid,NaN
2009-12-31 19:00:00,Beijing,2009-12-31 19:00,2009,12,31,19,77,Valid,NaN
2009-12-31 20:00:00,Beijing,2009-12-31 20:00,2009,12,31,20,120,Valid,NaN
2009-12-31 21:00:00,Beijing,2009-12-31 21:00,2009,12,31,21,163,Valid,NaN
2009-12-31 22:00:00,Beijing,2009-12-31 22:00,2009,12,31,22,167,Valid,NaN

In [62]:
idx =  pd.date_range(start='2009-02-17 17:00:00',end='2009-12-31 22:00',freq='H')
idx

DatetimeIndex(['2009-02-17 17:00:00', '2009-02-17 18:00:00',
               '2009-02-17 19:00:00', '2009-02-17 20:00:00',
               '2009-02-17 21:00:00', '2009-02-17 22:00:00',
               '2009-02-17 23:00:00', '2009-02-18 00:00:00',
               '2009-02-18 01:00:00', '2009-02-18 02:00:00',
               ...
               '2009-12-31 13:00:00', '2009-12-31 14:00:00',
               '2009-12-31 15:00:00', '2009-12-31 16:00:00',
               '2009-12-31 17:00:00', '2009-12-31 18:00:00',
               '2009-12-31 19:00:00', '2009-12-31 20:00:00',
               '2009-12-31 21:00:00', '2009-12-31 22:00:00'],
              dtype='datetime64[ns]', length=7614, freq='H')

In [67]:
time_index_2009_index[time_index_2009_index.index.duplicated()]

,Site,Date (LST),Year,Month,Day,Hour,Value,Duration,QC Name
Date (LST),,,,,,,,,
2009-03-08 03:00:00,Beijing,2009-03-08 03:00,2009,3,8,3,179,Valid,NaN

In [69]:
time_index_2009_index['2009-03-08']

,Site,Date (LST),Year,Month,Day,Hour,Value,Duration,QC Name
Date (LST),,,,,,,,,
2009-03-08 00:00:00,Beijing,2009-03-08 00:00,2009,3,8,0,204,Valid,NaN
2009-03-08 01:00:00,Beijing,2009-03-08 01:00,2009,3,8,1,189,Valid,NaN
2009-03-08 03:00:00,Beijing,2009-03-08 03:00,2009,3,8,3,195,Valid,NaN
2009-03-08 03:00:00,Beijing,2009-03-08 03:00,2009,3,8,3,179,Valid,NaN
2009-03-08 04:00:00,Beijing,2009-03-08 04:00,2009,3,8,4,188,Valid,NaN
...,...,...,...,...,...,...,...,...,...
2009-03-08 19:00:00,Beijing,2009-03-08 19:00,2009,3,8,19,77,Valid,NaN
2009-03-08 20:00:00,Beijing,2009-03-08 20:00,2009,3,8,20,71,Valid,NaN
2009-03-08 21:00:00,Beijing,2009-03-08 21:00,2009,3,8,21,86,Valid,NaN
2009-03-08 22:00:00,Beijing,2009-03-08 22:00,2009,3,8,22,41,Valid,NaN
2009-03-08 23:00:00,Beijing,2009-03-08 23:00,2009,3,8,23,14,Valid,NaN

In [70]:
time_index_2009_index[~time_index_2009_index.index.duplicated()].reindex(idx)

,Site,Date (LST),Year,Month,Day,Hour,Value,Duration,QC Name
2009-02-17 17:00:00,Beijing,2009-02-17 17:00,2009.0,2.0,17.0,17.0,70.0,Valid,NaN
2009-02-17 18:00:00,Beijing,2009-02-17 18:00,2009.0,2.0,17.0,18.0,57.0,Valid,NaN
2009-02-17 19:00:00,Beijing,2009-02-17 19:00,2009.0,2.0,17.0,19.0,58.0,Valid,NaN
2009-02-17 20:00:00,Beijing,2009-02-17 20:00,2009.0,2.0,17.0,20.0,63.0,Valid,NaN
2009-02-17 21:00:00,Beijing,2009-02-17 21:00,2009.0,2.0,17.0,21.0,61.0,Valid,NaN
...,...,...,...,...,...,...,...,...,...
2009-12-31 18:00:00,Beijing,2009-12-31 18:00,2009.0,12.0,31.0,18.0,64.0,Valid,NaN
2009-12-31 19:00:00,Beijing,2009-12-31 19:00,2009.0,12.0,31.0,19.0,77.0,Valid,NaN
2009-12-31 20:00:00,Beijing,2009-12-31 20:00,2009.0,12.0,31.0,20.0,120.0,Valid,NaN
2009-12-31 21:00:00,Beijing,2009-12-31 21:00,2009.0,12.0,31.0,21.0,163.0,Valid,NaN
2009-12-31 22:00:00,Beijing,2009-12-31 22:00,2009.0,12.0,31.0,22.0,167.0,Valid,NaN

### 序列数值平移
```
df.shift(
    periods =1:希望移动的周期是
    freq:时间频度字符串
    axis=0
)
```

In [71]:
time_index_2009_index.shift(3)

,Site,Date (LST),Year,Month,Day,Hour,Value,Duration,QC Name
Date (LST),,,,,,,,,
2009-02-17 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2009-02-17 18:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2009-02-17 19:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2009-02-17 20:00:00,Beijing,2009-02-17 17:00,2009.0,2.0,17.0,17.0,70.0,Valid,NaN
2009-02-17 21:00:00,Beijing,2009-02-17 18:00,2009.0,2.0,17.0,18.0,57.0,Valid,NaN
...,...,...,...,...,...,...,...,...,...
2009-12-31 18:00:00,Beijing,2009-12-31 15:00,2009.0,12.0,31.0,15.0,49.0,Valid,NaN
2009-12-31 19:00:00,Beijing,2009-12-31 16:00,2009.0,12.0,31.0,16.0,47.0,Valid,NaN
2009-12-31 20:00:00,Beijing,2009-12-31 17:00,2009.0,12.0,31.0,17.0,58.0,Valid,NaN
2009-12-31 21:00:00,Beijing,2009-12-31 18:00,2009.0,12.0,31.0,18.0,64.0,Valid,NaN
2009-12-31 22:00:00,Beijing,2009-12-31 19:00,2009.0,12.0,31.0,19.0,77.0,Valid,NaN

## 实战：建立时间索引
```
分别使用Date（LST）和年、月、日、时变量建立DatetimeIndex
尝试只使用年月日建立Period对象，然后转换为DetetimeIndex
基于DetatimeIndex，进一步完成一下任务：
    计算每年的PM2.5的平均值、中位数、最大值、最小值
    计算出每年PM2.5大于200，300，500的天数
    将PM2.5的数据整理为以年为行，月为列，单元格为最大值的宽表形式
    将2009年和2012年数据分别提取处理，然后合并为一个数据框
    将数据转换为每年一列的宽表格式
```

# 数据的图形展示
## 配置绘图系统环境